In [1]:
import pandas as pd

In [2]:
D = pd.read_excel("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/3.xlsx")

In [3]:
display(D)

,town1,Avg-Avg-Р11,Avg-Avg-Р12,Avg-Avg-Р13,Avg-Avg-Р14,Avg-Avg-Р15,Avg-Avg-Р16,Avg-Avg-Р21,Avg-Avg-Р22,Avg-Avg-Р23,Avg-Avg-Р24,Avg-Avg-Р3
0,Абакан,18.250000,22.250000,704.250000,197.500000,19.500000,17.500000,16.000000,20.500000,87.250000,221.750000,27.446750
1,Азовский район,0.000000,1.000000,8.333333,1.666667,0.000000,0.000000,0.000000,1.000000,20.000000,92.000000,0.819667
2,Аксайский район,1.000000,0.250000,129.750000,18.000000,0.000000,15.500000,0.000000,0.000000,127.250000,2277.750000,9.550500
3,Алексеевкий район,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Анапа,0.000000,0.000000,31.000000,0.000000,0.000000,1.500000,0.000000,0.000000,0.000000,208.500000,2.921500
...,...,...,...,...,...,...,...,...,...,...,...,...
276,Южно-Сахалинск,8.350000,6.750000,51.200000,15.500000,0.750000,0.450000,172.750000,8.700000,11.750000,448.350000,9.085250
277,Якутск,21.150000,27.100000,316.833333,105.166667,1.400000,2.333333,420.666667,550.400000,793.533333,1505.300000,37.549617
278,Ялта,4.833333,7.333333,222.166667,26.333333,0.000000,0.333333,436.833333,127.833333,884.333333,1906.000000,12.115167
279,Ярославль,30.440476,33.821429,407.476190,12.785714,0.321429,1.571429,108.226190,138.428571,38.535714,949.666667,26.777869
280,Ярославский район,0.000000,0.000000,15.666667,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,168.000000,1.559667

In [5]:
import redis as rd

In [18]:
r = rd.Redis()
key = "is1."
for i in range(len(D["Avg-Avg-Р11"])):
    r.set(key+str(i),str(D["Avg-Avg-Р11"].iloc[i]))

In [12]:
D.columns

Index(['town1', 'Avg-Avg-Р11', 'Avg-Avg-Р12', 'Avg-Avg-Р13', 'Avg-Avg-Р14',
       'Avg-Avg-Р15', 'Avg-Avg-Р16', 'Avg-Avg-Р21', 'Avg-Avg-Р22',
       'Avg-Avg-Р23', 'Avg-Avg-Р24', 'Avg-Avg-Р3'],
      dtype='object')

In [16]:
r = rd.Redis()
key = "is2."
for i in range(len(D["Avg-Avg-Р12"])):
    r.set(key+str(i),str(D["Avg-Avg-Р12"].iloc[i]))

In [17]:
r = rd.Redis()
key = "is3."
for i in range(len(D["Avg-Avg-Р13"])):
    r.set(key+str(i),str(D["Avg-Avg-Р13"].iloc[i]))

In [19]:
r = rd.Redis()
key = "is4."
for i in range(len(D["Avg-Avg-Р14"])):
    r.set(key+str(i),str(D["Avg-Avg-Р14"].iloc[i]))

In [20]:
r = rd.Redis()
key = "is5."
for i in range(len(D["Avg-Avg-Р15"])):
    r.set(key+str(i),str(D["Avg-Avg-Р15"].iloc[i]))

In [21]:
r = rd.Redis()
key = "is6."
for i in range(len(D["Avg-Avg-Р16"])):
    r.set(key+str(i),str(D["Avg-Avg-Р16"].iloc[i]))

In [22]:
r = rd.Redis()
key = "is7."
for i in range(len(D["Avg-Avg-Р21"])):
    r.set(key+str(i),str(D["Avg-Avg-Р21"].iloc[i]))

In [23]:
r = rd.Redis()
key = "is8."
for i in range(len(D["Avg-Avg-Р22"])):
    r.set(key+str(i),str(D["Avg-Avg-Р22"].iloc[i]))

In [24]:
r = rd.Redis()
key = "is9."
for i in range(len(D["Avg-Avg-Р23"])):
    r.set(key+str(i),str(D["Avg-Avg-Р23"].iloc[i]))

In [25]:
r = rd.Redis()
key = "is10."
for i in range(len(D["Avg-Avg-Р24"])):
    r.set(key+str(i),str(D["Avg-Avg-Р24"].iloc[i]))

In [26]:
r = rd.Redis()
key = "is11."
for i in range(len(D["Avg-Avg-Р3"])):
    r.set(key+str(i),str(D["Avg-Avg-Р3"].iloc[i]))